.dropbtn {
	background-color: #293241;
	color: white;
	padding: 16px;
	font-size: 16px;
	min-width: 180px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropbtn:hover {background-color: #3D5A80;}

.dropbtn a {color: white;}

#menu
{
	position: fixed;
	width: 100%;
	padding-top: 10px;
	margin-top: -10px;
	border-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	color: white;
	background-color: #e0fbfc;
}

.AboutSection
{
	text-align: right;
	vertical-align: middle;
}

.AboutSection::after
{
	content: "";
	clear: both;
	display: table;
}

.AboutPhotos
{
	float: right;
	margin-left: 2%;
	width: 20%;
	height: auto;
}

.Container
{
	text-align: center;
	font-family: 'Arial', Helvetica, sans-serif;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 5%;
}

.Pictures>.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 30vw);
    grid-gap: 5px;
}

.FamilyPhotos {
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 20%;
}

.Music
{
	clear: both;
}

.fb-like
{
	border-color: darkblue;
	border-style: solid;
	padding: 2%;
}

.Break
{
	padding-bottom: 5%;
}

body
{
	background-color: #e0fbfc;
}


