.dropbtn {
	background-color: #293241;
	color: white;
	padding: 16px;
	font-size: 16px;
	min-width: 180px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropbtn:hover {background-color: #3D5A80;}

.dropbtn a {color: white;}

.Logo
{
	vertical-align: middle;
}

#menu
{
	position: fixed;
	width: 100%;
	padding-top: 10px;
	border-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	color: white;
	background-color: #f4f8f1;
}

.TextBox
{
	background-color: #83B99D;
	width: 60vw;
    margin-left: auto;
    margin-right: auto;	
	padding-top: 1vh;
    padding-bottom: 1vh;
	margin-top: 25vh;
	margin-bottom: 30vh;
	border-style: double;
	border-color: #608672;
}

.AboutSection
{
	text-align: right;
	vertical-align: middle;
	margin-right: 15%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.AboutSection::after
{
	content: "";
	clear: both;
	display: table;
}

.AboutPhotos
{
	float: right;
	margin-left: 2%;
	width: 20%;
	height: auto;
}

.AboutText
{
	padding: 5%;
	line-height: 1.6;
    font-size: 20px;
}

#KlinghofferAbout .AboutText
{
	padding-top: 2%;
}

.Container
{
	text-align: center;
	font-family: 'Arial', Helvetica, sans-serif;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 5%;
}

.Pictures>.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 30vw);
    grid-gap: 5px;
	margin-left: 2%;
	margin-right: 2%;
}

.FamilyPhotos {
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 20%;
}

.Music
{
	clear: both;
}

.fb-like
{
	border-color: darkblue;
	border-style: solid;
	padding: 2%;
    z-index: -1;
}

.Break
{
	padding-bottom: 5%;
}

.reference
{
	padding-top: 10vh;
}

#spa
{
	width: 60vw;
    margin-left: auto;
    margin-right: auto;	
}

.answers
{
	text-align: right;
	padding-top: 1vh;
}

#headline
{
	text-decoration: underline;
	text-align: center;
}

table, th {
	border: 1px solid darkolivegreen;
	border-collapse: collapse;
}

th {
	padding: 15px;
	text-align: center;
}

.header
{
	background-color: #658574;
	color: white;
}

.criterion
{
	background-color: #99BFAB;
}

.ContactForm
{
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
    border-style: double;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 2%;
}

input[type=text], select, textarea
{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] 
{
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 1%;
  }
  
  input[type=submit]:hover 
  {
	background-color: #45a049;
  }

body
{
	background: url(images/Background.jpg) left repeat-y, url(images/Background.jpg) right repeat-y, #f4f8f1;
	margin: 0;
}



