.dropbtn {
	background-color: #618db6;
	color: white;
	padding: 16px;
	font-size: 16px;
	min-width: 180px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #73a7d8;}

  .column {
	height: auto;
	width: 50%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 20px;
  }

  .row::after {
	content: "";
	clear: both;
	display: table;
  }

  .FamilyPhotos
  {
	  height: 300px;
	  object-fit: contain;
  }

  #menu
{
	position: fixed;
	width: 100%;
	padding-top: 10px;
	margin-top: -10px;
	border-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	color: white;
	background-color: #c8e3fd;
}


.About
{
	text-align: center;
	font-family: 'Arial', Helvetica, sans-serif;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 10%;

}

body
{
	background-color: #c8e3fd;
}

